extends layout

block content
    .panel-content-title Not found | 404
    .row
        .col.s12.panel-content-table-container
            p.
                The page you were looking for is not found.
            a(href="/") Go back